* {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  background-image: url(../img/fundo.png);
  justify-content: space-around;
  align-items: center;
  background-position: center;
  background-size: cover;
}

nav {
  display: flex;
  align-items: center;
}

.logo {
  width: 190px;
  height: 170px;
  margin-right: 350px;
}

header,
a {
  text-decoration: none;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}

.menu,
a {
  padding: 40px;
}

.menu,
a:hover {
  color: rgb(171, 0, 233);
}
