body {
    background-image: url(/img/capa.png);
}

header {
    
    margin-bottom: 100px;
}

.nav {
    display: flex;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
}

.container {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.logo{
    width: 120px;
    
}

.links {
   background-color: black;
    list-style: none;
    display: flex;
    width: 1000px;
    margin: 0 auto;
    justify-content: space-around;
    text-decoration: none;
    border-radius: 130px;
}

.home{
    text-decoration: none;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.series{
    text-decoration: none;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.categorias{
    text-decoration: none;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.preco{
    text-decoration: none;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.sobre{
    text-decoration: none;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

