/* Global */

* {
    padding: 0;
    margin: 5px;
}

body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;

}

/* Início do Cabeçalho */

.menu{
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100px;
    display: inline-block;
    margin-left: 980px;
    margin-right: 250px;
}

.links {
    background-color: black;
     list-style: none;
     display: flex;
     width: 1000px;
     justify-content: space-around;
     text-decoration: none;
     border-radius: 130px;
 }
 
 .home{
     text-decoration: none;
     font-size: 25px;
     color: rgb(255, 255, 255);
     margin: 40px;
 }
 
 .novidades{
     text-decoration: none;
     font-size: 25px;
     color: rgb(255, 255, 255);
     margin: 40px;
 }
 
 .hall{
     text-decoration: none;
     font-size: 25px;
     color: rgb(255, 255, 255);
     margin: 40px;
 }
 
 .sobre{
     text-decoration: none;
     font-size: 25px;
     color: rgb(255, 255, 255);
     margin: 40px;
 }
 
/* Fim do Cabeçalho */

h2 {
    text-align: center;
    padding: 80px;
    font-size: 60px;
}

.img-banner {
    text-align: center;
}

.img{
    height: 770px;
    width: 1400px;
    border-radius: 35px;
}

.container-galeria {
    margin-left: 170px;
    display: flex;
}

.galeria-items {
    width: 485px;
    height: 500px;
    padding: 10px;
}

.galeria-items img {
    width: 100%;
    height: 100%;
}

footer {
    text-align: center;
    padding: 30px;
}