* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

header {
    background-color: black;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

header a {
    text-decoration: none;
    padding: 15px;
    color: aliceblue;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo_div {
    margin-left: -150px;
}

.logo {
    width: 150px;
    height: 130px;
}

.links {
    display: flex;
    list-style-type: none;

}

.links li {
    padding: 10px;
}

.btn_login {
    border-radius: 10px;
    padding-left: 10px;
    background-color: rgb(206, 202, 169);
    color: black;
    text-align: center;

}

.btn_cad {
    border-radius: 10px;
    padding-left: 10px;
    background-color: rgb(202, 93, 3);
    color: black;
    text-align: center;
}

.container{
    display: flex;
    justify-content: start;
    margin: 150px;
}

.card{
    width: 650px;
    height: 200px;
    margin-top: 100px;
    border-radius: 50px;
    background-color: black;
}

.frase_div{
    margin: 50px;
    color: aliceblue;
}

.titulo{
    font-size: 48px;
    margin-bottom: 15px;
    color:#77B2D8;
}

.frase{
    font-size: 20px;
}