/* Global */

* {
    margin: 5px;
    text-align: center;
    box-sizing: border-box;
}


.underline::before {
    content: " ";
    display: inline-block;
    width: 10px;
    /* Largura do "risco" */
    height: 50px;
    /* Altura do "risco" */
    background-color: #FFA629;
    /* Cor do "risco" */
    margin-right: 10px;
    /* Espaço entre a palavra e o "risco" */
}

body {
    background-image: radial-gradient(at center center, #e6cd7e, #FFCD29 100%);
    font-family: 'Roboto', sans-serif;

}

/* Início do Cabeçalho */

.menu {
    width: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_salgado {
    width: 100px;
    display: inline-block;
    margin-left: 750px;
    margin-right: 250px;
}

nav a:hover {
    color: #FFCD29;
}


.links_salgados {
    background-color: black;
    list-style: none;
    display: flex;
    width: 1000px;
    justify-content: space-around;
    text-decoration: none;
    border-radius: 130px;
}

.home {
    text-decoration: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin: 40px;
}

.novidades {
    text-decoration: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin: 40px;
}

.cardapio {
    text-decoration: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin: 40px;
}

.doces {
    text-decoration: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin: 40px;
}

nav .doces:hover {
    color: #FFC7C2;
}

.acai {
    text-decoration: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin: 40px;
}

nav .acai:hover {
    color: #FF01DD;
}

/* Fim do Cabeçalho */

h1 {
    padding: 90px;
    font-size: 60px;
    color: #000000;
}

h2 {
    padding-top: 120px;
    padding-bottom: 90px;
    font-size: 60px;
    color: #000000;
}

/* Imagem do Banner Principal */

.img {
    height: 780px;
    width: 100%;
    border-radius: 10px;
}

/* Fim do Banner Principal */

/* Inicio Carrosel */
.galeria {
    display: flex;
}

.galeria-items {
    width: 900px;
    height: 600px;
    padding: 10px;
    text-align: center;
}

.galeria-items img {
    width: 100%;
    height: 100%;
    border-radius: 60px;
}

/* Fim do Carrosel */

/* Início do Botão */

button {
    background: #000000;
    border-radius: 6px;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
}

button:hover {
    background-color: #FFA629;
    color: #000000;

}


/* Fim do Botão */
hr {
    margin-bottom: 50px;
}

/* Inicio Rodape */

footer {
    padding-top: 150px;
    padding-bottom: 50px;
    color: #000000;
}

/* Redes Sociais */

.whatsapp {
    text-decoration: none;
    color: #fff;
    margin-left: 750px;
    margin-right: 40px;
    color: #000000;
}

.instagram {
    text-decoration: none;
    color: #fff;
    margin-right: 40px;
    color: #000000;
}

.facebook {
    text-decoration: none;
    color: #fff;
    margin-right: 40px;
    color: #000000;
}

.endereco {
    text-decoration: none;
    color: #fff;
    color: #000000;
}


/* Fim das Redes Sociais */

/* Fim do Rodape */