* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header a {
    text-decoration: none;
    padding: 15px;
    color: aliceblue;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo_div {
    margin-left: -150px;
}

.logo {
    width: 150px;
    height: 130px;
}

.links {
    display: flex;
    list-style-type: none;

}

.links li {
    padding: 10px;
}

.btn_login {
    border-radius: 10px;
    padding-left: 10px;
    background-color: rgb(206, 202, 169);
    color: black;
    text-align: center;

}

.btn_cad {
    border-radius: 10px;
    padding-left: 10px;
    background-color: rgb(202, 93, 3);
    color: black;
    text-align: center;
}

main{
    margin-top: -150px;
    background-image: url(/img/fundo.jpg);
    background-size: cover;
    width: auto;
    height: 780px;
    background-repeat: no-repeat;
}

.container{
    padding-top: 150px;
    display: flex;
    justify-content: start;
    margin: 150px;
}

.card{
    width: 650px;
    height: 200px;
    margin-top: 100px;
    border-radius: 50px;
    background-color: black;
    opacity: 0.9;
}

.frase_div{
    margin: 50px;
    color: aliceblue;
}

.titulo{
    background-color: black;
    font-size: 48px;
    margin-bottom: 15px;
    color:#77B2D8;
}

.frase{
    font-size: 20px;
}

.titulo_servicos{
    padding-top: 50px;
    text-align: center;
    background-color: black;
    font-size: 48px;
    color:#ffffff;
}

.container_card{
    justify-content: space-around;
    background-color: black;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}

.card_servicos{
    width: 400px;
    height: 100px;
    margin-top: 100px;
    border-radius: 30px;
    background-color: #77B2D8;
    opacity: 0.9;
    
}

.sub_servicos p{
    padding-top: 20px;
    color: black;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    
.desc_servicos{
    padding-top: 10px;
    color: black;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    
 
